---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="bg-red-600 underline">Index</h1>
    <a href="/">home</a>
    <p>word</p>
    <p>another</p>
  </main>
</Layout>
