---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Index">
  <main>
    <h1>Jayden Coventry</h1>
    <p>
      <Icon name="envelope" class="red" />
      <a href="mailto:contact@jbcov.com">contact@jbcov.com</a>(best contact
      method)
    </p>
    <p><a href="https://github.com/jbcoventry">GitHub</a></p>
    <p>
      <a href="https://www.linkedin.com/in/jbcov/">LinkedIn</a>(outdated and
      unchecked)
    </p>
  </main>
</Layout>
